*{
  box-sizing: border-box
  font-family: PingFangTC-regular, 微軟正黑體, Arial, sans-serif;
}
html, body, h1, h2, h3, h4, nav, span, p{
    margin: 0;
    padding: 0;
}

body {
  padding: 50px;
  background-color: lightblue;
 
}
nav{
  overflow:auto;
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: royalblue;
}
nav ul{
  margin: 0;
  list-style-type: none;
}
nav li{
  height: 50px;
  width: 20%;
  line-height: 50px;
  float: left;
}
.first-letter{
    font-size: 28px;
    width: 30px;
    height: 30px;
    line-height: 36px;
    text-align: center;
    display: block;
    float: left;
}

.author {
    width: 650px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: navy;
    line-height: 1.5;
    background-color: antiquewhite;
    border-radius: 10px;
}
.author img{ 
    width: 300px;
    height: 300px;
    border-radius: 25%;
}
.author h1{
    font-size: 40px;
    font-weight: bold;   
}
.author p{
  text-align: left;  
}
@media screen and (max-width:768px)
{
  nav{
    width: 100%
  }
  nav li{
  height: 20px;
  width: 35%;
  line-height: 20px;
  float: left;
}
 .author {
    width: 100%;
    margin-top: 20px;
}
.author img{ 
    width: 175px;
    height: 175px;
    border-radius: 25%;
}
}
@media screen and (min-width:768px) 
              and (max-width:992px)
{
 nav{
    width: 100%
  }
  nav li{
  height: 25px;
  width: 30%;
  line-height: 25px;
  float: left;
}
 .author {
    width: 100%;
}
.author img{ 
    width: 225px;
    height: 225px;
    border-radius: 25%;
}
  
}
@media screen and (min-width:992px)
              and (max-width: 1200px)
{

}